caddy.local.cetacean.club {
	tls internal

	reverse_proxy http://anubis:3000 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
		header_up X-Tls-Version {http.request.tls.version}
	}
}
