name: Regenerate ssh ci runner image

on:
  # pull_request:
  #   branches: ["main"]
  schedule:
    - cron: "0 0 1,8,15,22 * *"
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write
  packages: write

jobs:
  ssh-ci-rebuild:
    if: github.repository == 'TecharoHQ/anubis'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-tags: true
          fetch-depth: 0
          persist-credentials: false
      - name: Log into registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build and push
        run: |
          cd ./test/ssh-ci
          docker buildx bake --push
